body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0; 
 
        background-image: linear-gradient(to bottom, #1d4ed8, #18181B);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }   


  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #match-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #match-form input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  #match-form button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #match-form button:hover {
    background-color: #45a049;
  }
  
  #results-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #results-table th,
  #results-table td {
    padding: 12px;
    text-align: center;
  }
  
  #results-table th {
    background-color: #4caf50;
    color: #fff;
  }
  
  #results-table td {
    border-bottom: 1px solid #ddd;
  }
  
  #results-table tr:last-child td {
    border-bottom: none;
  }